.container {
    display: flex;
    overflow: auto;
}

.box-card {
    flex-shrink: 0; /* Prevent shrinking */
    height: 15rem;
    width: 4rem;
    background-color: white;
    margin: 1%;
    border-radius: 5%;
    overflow: hidden;
    transition: width 0.5s ease;
}

.box-card.first {
    width: 10rem; /* Set the initial size for the first card */
}

.box-card:hover {
    width: 10rem; /* Expand on hover */
}

.container:hover .box-card.first:not(:hover) {
    width: 4rem; /* Reduce size for the first card when hovered over the container but not the first card */
}

.img-style {
    height: 100% !important;
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.body-color {
    background-color: rgb(243, 243, 243);
}
