.container{
    display: flex;
    overflow: auto;
}

.box-card{
    height: 15rem;
    width: 4rem;
    background-color: white;
    margin: 1%;
    border-radius: 5%;
    overflow: hidden;
    transition: width 0.5s ease;
}

.box-card.first{
    width: 10rem;
}

.first:hover{
    width: 10rem;
}

.box-card:hover{
    width: 10rem;
}

/* .container:hover .box-card.first {
    width: 8rem;
} */


.container:hover .box-card.first:not(:hover) {
    width:4rem;
}

.img-style{
    /* background-size: cover; */
    height: 100% !important;
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.body-color{
    background-color: rgb(243, 243, 243);
}