.card-img{
    height: 14rem !important;
    width: 100%;
    background-color: rgb(243, 243, 243);
    
    border-radius: 15px;
    padding: 5%;
    /* margin: -1%; */
}

.card {
    width: 300px;
    height: 200px;
    transition: transform 0.5s ease; /* Smooth scaling */
    border: none;
  }
  
  .card:hover {
    transform: scale(1.01); /* Slightly enlarges the card */
    /* color: blue; */
    /* background-color:rgb(243, 243, 243) ; */
    border: none;
  }

.img-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
}

.icon-sty{
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: rgb(255, 255, 255);
    border-radius: 7%;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cart-stylw{
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: transparent;
    border-radius: 7%;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.1  rem;
}