/* *{
  overflow-x: hidden;
} */

.logo {
    background-image: url('./assets/fash2.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    background-size: contain;
}

.hover-container {
    position: relative; /* Parent container for positioning */
    display: none;
  }
  
.dropdown-items{
  margin-top: 40px;
  position: absolute;
  display: block;
  /* color: rgb(240, 111, 111); */
  background-color: rgb(235, 232, 232);
  z-index: 1050;
}

.subBtn{
  font-size: 14px;
  color: blue;
}

::-webkit-scrollbar {
  display: none;
}

.sub-head{
  position: relative;
}

.carousel{
  z-index: 1;
}

/* .carosty{
  height:200px !important
} */

.t-sty{
  font-family: cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.sub-img{
  height: 6rem !important;
  width: 6rem;
  border-radius: 50%;
  background-color: rgb(161, 3, 3);
}


.cart-icon:hover {
  /* color: #a09b9a; Change to your preferred color */
  transform: scale(1.2); /* Slightly enlarge the icon */
  cursor: pointer;
}
